html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: system-ui;
  touch-action: pan-x pan-y;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(251, 122, 82); */
  height: 100%;
  max-height: fit-content;
  width: auto;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2.5rem;
  /* color: brown; */
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 1.3rem;
}
.header {
  background: linear-gradient(to left, rgb(247, 7, 7), blueviolet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-align: center;
}
.game-hard-level {
  margin-bottom: 2rem;
}
.easy {
  background-color: lime;
  &:hover {
    background-color: rgb(1, 248, 1);
  }
}
.medium {
  background-color: yellow;
  &:hover {
    background-color: rgb(248, 248, 1);
  }
}
.hard {
  background-color: orange;
  &:hover {
    background-color: rgb(246, 160, 0);
  }
}
.easy,
.medium,
.hard {
  height: auto;
  width: 100px;
  font-size: 1rem;
  color: black;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1.5px solid black;
  border-radius: 1.5rem;
  font-weight: 550;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.505);
  }
  &:active {
    transform: translateY(1px);
  }
}
.game-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width same as the parent-container */
  width: calc(840px + 3.5rem);
}
.hidden {
  display: none;
}
.num-of-tries {
  color: blue;
  font-size: 1.2rem;
  margin: 0;
  padding-top: 0.3rem;
}
.tries-count {
  color: black;
  font-weight: 600;
}
.reset {
  height: auto;
  width: calc(auto + 20px);
  font-size: 1rem;
  padding: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.5rem;
  border: none;
  color: white;
  background-color: rgba(0, 0, 255, 0.767);
  background-color: tomato;
  border: 1.5px solid black;
  &:hover {
    cursor: pointer;
    background-color: rgba(15, 15, 250, 0.767);
    background-color: rgb(249, 79, 49);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.505);
    /* box-shadow: 1px 2px 10px rgba(255, 0, 0, 0.638);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.213); */
  }
  &:active {
    transform: translateY(1px);
  }
}
.parent-container {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(auto, auto);
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  margin: 2rem;
  /* margin-left: 5rem;
  margin-right: 5rem; */
  margin-top: 1.2rem;
  margin-bottom: 0;
  perspective: 800px;
}

.tile {
  height: 95px;
  width: 105px;
  cursor: pointer;
  font-size: 3.1rem;
  align-content: center;
  text-align: center;
  text-shadow: 0.3px 0.3px 0.3px white;
}
.easy-tile {
  background-color: blueviolet;
}
.medium-tile {
  background-color: rgb(155, 152, 240);
  background-color: rgb(65, 32, 155);
  /* background-color: powderblue; */
}
.hard-tile {
  background-color: darkorchid;
  background-color: darkblue;
}
.flipped {
  font-size: 3.1rem;
  background-color: limegreen;
  transition: all ease 1s;
}
footer {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}
.game-result {
  position: fixed;
  top: 50;
  left: 50;
  bottom: 50;
  z-index: 10;
  height: 55%;
  width: 60%;
  margin-top: 6rem;
  background-color: rgb(211, 248, 246);
  align-content: center;
}
.game-result p {
  text-align: center;
  font-size: 1.5rem;
}
.emojis {
  font-size: 1.8rem;
}
.game-over {
  background: linear-gradient(to left, rgb(247, 7, 7), blueviolet);
  background-clip: text;
  color: transparent;
  font-weight: 600;
}
.cross-mark {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  cursor: pointer;
}
@media (max-width: 1000px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    height: 100%;
  }
  h1 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
  }
  .parent-container {
    max-width: 99%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    font-size: 3.1rem;
    row-gap: 0.3rem;
    column-gap: 0.3rem;
  }
  .game-hard-level {
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
  }
  .easy,
  .medium,
  .hard {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .tile {
    height: 85px;
    width: 90px;
  }

  .game-data {
    height: auto;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .num-of-tries {
    width: auto;
    height: auto;
    margin-left: 1.5rem;
  }
  .tries-count {
    font-size: 1.3rem;
  }
  .reset {
    margin-right: 1.3rem;
    width: auto;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
  .game-result {
    position: fixed;
    top: 12%;
    left: 50;
    bottom: 20;
    z-index: 10;
    height: 55%;
    width: 75%;
    margin-top: 6rem;
    background-color: rgb(192, 246, 243);
    align-content: center;
  }
  .game-result p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
  }
  .cross-mark {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
  }
  footer {
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
  }
}
